# Configuración de Base de Datos para Django
DB_NAME=nombre_de_la_bd
DB_USER=usuario_postgres
DB_PASSWORD=contrasena_postgres
DB_HOST=localhost
DB_PORT=5432

# Ruta a pg_dump de PostgreSQL (opcional para respaldos)
PG_DUMP_PATH=C:\Program Files\PostgreSQL\XX\bin\pg_dump.exe
